<div class="col-xs-12 col-md-6 left-panel">
    <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default normal-btn-panel">
            <div class="panel-heading" role="tab" id="headingOne1">
                <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion1" data-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
          Normal Buttons
        </a>
      </h4>
            </div>
            <div id="collapseOne1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne1">
                <div class="panel-body">
                    <div class="col-xs-6">
                      <button class="btn btn-primary btn-lg">Active</button>
                    </div>
                    <div class="col-xs-6">
                      <button disabled class="btn btn-primary btn-lg">Disabled</button>
                    </div>
                    <div class="col-xs-6">
                      <button class="btn btn-primary btn-lg btn-primary-hover">Hover</button>
                    </div>
                    <div class="col-xs-6">
                      <button class="btn btn-primary btn-lg btn-primary-focus">Focus</button>
                    </div>
                    <div class="col-xs-12">
                        <h4>Normal Button  Sizes</h4>
                        <hr>
                        <a class="btn btn-primary btn-lg">Large button</a>
                        <a class="btn btn-primary">Default button</a>
                      <a class="btn btn-primary btn-sm">Small button</a>
                      <a class="btn btn-primary btn-xs">Mini button</a>
                      </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo1">
                <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" data-target="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo1">
          Primary Color
        </a>
      </h4>
            </div>
            <div id="collapseTwo1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo1">
                     <div class="panel-body">
                    <a class="btn btn-primary disabled">Primary</a>
                        <a class="btn btn-primary">Primary</a>
                        <div class="btn-group">
                          <a class="btn btn-primary">Primary</a>
                          <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a>Action</a></li>
                            <li><a>Another action</a></li>
                            <li><a>Something else here</a></li>
                            <li class="divider"></li>
                            <li><a>Separated link</a></li>
                          </ul>
                        </div>
                        
                        <a class="btn btn-link text-primary">Link</a>
                        <a class="btn btn-link text-primary disabled">Link</a>
                        

                </div>
                
           
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree1">
                <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" data-target="#collapseThree1" aria-expanded="false" aria-controls="collapseThree1">
          Default Color
        </a>
      </h4>
            </div>
            <div id="collapseThree1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree1">
                <div class="panel-body">
                   <a class="btn btn-default">Default</a>
                          <a class="btn btn-default disabled">Default</a>

                          <div class="btn-group">
                          <a class="btn btn-default">Default</a>
                          <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a>Action</a></li>
                            <li><a>Another action</a></li>
                            <li><a>Something else here</a></li>
                            <li class="divider"></li>
                            <li><a>Separated link</a></li>
                          </ul>
                          </div>
                          <a class="btn text-muted">Link</a>
                        <a class="btn disabled text-muted">Link</a>

                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour1">
                <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" data-target="#collapseFour1" aria-expanded="false" aria-controls="collapseFour1">
          Warning Color
        </a>
      </h4>
            </div>
            <div id="collapseFour1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour1">
                <div class="panel-body">
                   <a class="btn btn-warning">Warning</a>

                      <a class="btn btn-warning disabled">Warning</a>
                      <div class="btn-group">
                        <a class="btn btn-warning">Warning</a>
                        <a class="btn btn-warning dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a>Action</a></li>
                          <li><a>Another action</a></li>
                          <li><a>Something else here</a></li>
                          <li class="divider"></li>
                          <li><a>Separated link</a></li>
                        </ul>
                      </div>
                      <a class="btn text-warning">Link</a>
                        <a class="btn disabled text-warning">Link</a>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="col-xs-12 col-md-6 right-panel">
        <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default secondary-btn-panel">
    <div class="panel-heading" role="tab" id="headingOne2">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion2" data-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
          Secondary Buttons
        </a>
      </h4>
    </div>
    <div id="collapseOne2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne2">
      <div class="panel-body">
                <div class="col-xs-6">
                      <button class="btn btn-secondary btn-lg">Active</button>
                    </div>
                    <div class="col-xs-6">
                      <button disabled class="btn btn-secondary btn-lg">Disabled</button>
                    </div>
                    <div class="col-xs-6">
                      <button class="btn btn-secondary btn-lg btn-secondary-hover">Hover</button>
                    </div>
                    <div class="col-xs-6">
                      <button class="btn btn-secondary btn-lg btn-secondary-focus">Focus</button>
             </div>
             <div class="col-xs-12">
               
               <h4>Secondary Button  Sizes</h4>
               <hr>
              <a class="btn btn-secondary btn-lg">Large button</a>
                        <a class="btn btn-secondary">Default button</a>
                      <a class="btn btn-secondary btn-sm">Small button</a>
                      <a class="btn btn-secondary btn-xs">Mini button</a>
             </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo2">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" data-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
          Info Color
        </a>
      </h4>
    </div>
    <div id="collapseTwo2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo2">
      <div class="panel-body">
       <a class="btn btn-info">Info</a>
        <a class="btn btn-info disabled">Info</a>
        <div class="btn-group">
          <a class="btn btn-info">Info</a>
          <a class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a>Action</a></li>
            <li><a>Another action</a></li>
            <li><a>Something else here</a></li>
            <li class="divider"></li>
            <li><a>Separated link</a></li>
          </ul>
        </div>
        <a class="btn text-info">Link</a>
                        <a class="btn disabled text-info">Link</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree2">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" data-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">
          Danger Color
        </a>
      </h4>
    </div>
    <div id="collapseThree2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree2">
      <div class="panel-body">
        
              <a class="btn btn-danger">Danger</a>

              <a class="btn btn-danger disabled">Danger</a>

              <div class="btn-group">
              <a class="btn btn-danger">Danger</a>
              <a class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a>Action</a></li>
                <li><a>Another action</a></li>
                <li><a>Something else here</a></li>
                <li class="divider"></li>
                <li><a>Separated link</a></li>
              </ul>
              </div>
              
              <a class="btn text-danger">Link</a>
                        <a class="btn disabled text-danger">Link</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour2">
                <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" data-target="#collapseFour2" aria-expanded="false" aria-controls="collapseFour2">
          Success Color
        </a>
      </h4>
            </div>
            <div id="collapseFour2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour2">
                 <div class="panel-body">
                  <a class="btn btn-success">Success</a>
                        <a class="btn btn-success disabled">Success</a>

                        <div class="btn-group">
                          <a class="btn btn-success">Success</a>
                          <a class="btn btn-success dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a>Action</a></li>
                            <li><a>Another action</a></li>
                            <li><a>Something else here</a></li>
                            <li class="divider"></li>
                            <li><a>Separated link</a></li>
                          </ul>
                        </div>
                        
                        <a class="btn text-success">Link</a>
                        <a class="btn text-success disabled">Link</a>
                   
                </div>
            </div>
        </div>
</div>
</div>