<div class="col-xs-12 left-panel">
    <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne1">
                <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion1" data-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
          Branding Colors-100
        </a>
      </h4>
            </div>
            <div id="collapseOne1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne1">
                <div class="panel-body">
                    <div class="col-xs-12 color-palette-wrapper background-theme">
                        <div class="col-xs-2 col-md-1"><div class="color-palette bg-enadoc-100"></div></div>
                        <div class="col-xs-2 col-md-1"><div class="color-palette bg-violet-100"></div></div>
                        <div class="col-xs-2 col-md-1"><div class="color-palette bg-red-100"></div></div>
                        <div class="col-xs-2 col-md-1"><div class="color-palette bg-ocean-100"></div></div>
                        <div class="col-xs-2 col-md-1"><div class="color-palette bg-orange-100"></div></div>
                        <div class="col-xs-2 col-md-1"><div class="color-palette bg-brown-100"></div></div>
                        <div class="col-xs-2 col-md-1"><div class="color-palette bg-green-100"></div></div>
                        <div class="col-xs-2 col-md-1"><div class="color-palette bg-indigo-100"></div></div>
                        <div class="col-xs-2 col-md-1"><div class="color-palette bg-mint-100"></div></div>
                        <div class="col-xs-2 col-md-1"><div class="color-palette bg-yellow-100"></div></div>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo1">
                <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" data-target="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo1">
          Branding Colors-200
        </a>
      </h4>
            </div>
            <div id="collapseTwo1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo1">
                <div class="panel-body">
                    <div class="col-xs-12 color-palette-wrapper background-theme">
                    <div class="col-xs-2 col-md-1"><div class="color-palette bg-enadoc-200"></div></div>
                        <div class="col-xs-2 col-md-1"><div class="color-palette bg-violet-200"></div></div>
                        <div class="col-xs-2 col-md-1"><div class="color-palette bg-red-200"></div></div>
                        <div class="col-xs-2 col-md-1"><div class="color-palette bg-ocean-200"></div></div>
                        <div class="col-xs-2 col-md-1"><div class="color-palette bg-orange-200"></div></div>
                        <div class="col-xs-2 col-md-1"><div class="color-palette bg-brown-200"></div></div>
                        <div class="col-xs-2 col-md-1"><div class="color-palette bg-green-200"></div></div>
                        <div class="col-xs-2 col-md-1"><div class="color-palette bg-indigo-200"></div></div>
                        <div class="col-xs-2 col-md-1"><div class="color-palette bg-mint-200"></div></div>
                        <div class="col-xs-2 col-md-1"><div class="color-palette bg-yellow-200"></div></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree1">
                <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" data-target="#collapseThree1" aria-expanded="false" aria-controls="collapseThree1">
          Branding Colors-300
        </a>
      </h4>
            </div>
            <div id="collapseThree1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree1">
                <div class="panel-body">
                    <div class="col-xs-12 color-palette-wrapper background-theme">
                     <div class="col-xs-2 col-md-1"><div class="color-palette bg-enadoc-300"></div></div>
                        <div class="col-xs-2 col-md-1"><div class="color-palette bg-violet-300"></div></div>
                        <div class="col-xs-2 col-md-1"><div class="color-palette bg-red-300"></div></div>
                        <div class="col-xs-2 col-md-1"><div class="color-palette bg-ocean-300"></div></div>
                        <div class="col-xs-2 col-md-1"><div class="color-palette bg-orange-300"></div></div>
                        <div class="col-xs-2 col-md-1"><div class="color-palette bg-brown-300"></div></div>
                        <div class="col-xs-2 col-md-1"><div class="color-palette bg-green-300"></div></div>
                        <div class="col-xs-2 col-md-1"><div class="color-palette bg-indigo-300"></div></div>
                        <div class="col-xs-2 col-md-1"><div class="color-palette bg-mint-300"></div></div>
                        <div class="col-xs-2 col-md-1"><div class="color-palette bg-yellow-300"></div></div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFive1">
                <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion1" data-target="#collapseFive1" aria-expanded="true" aria-controls="collapseFive1">
          Branding Colors-400
        </a>
      </h4>
            </div>
            <div id="collapseFive1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFive1">
                <div class="panel-body">
                    <div class="col-xs-12 color-palette-wrapper background-theme">
                        <div class="col-xs-2 col-md-1"><div class="color-palette bg-enadoc-400"></div></div>
                        <div class="col-xs-2 col-md-1"><div class="color-palette bg-violet-400"></div></div>
                        <div class="col-xs-2 col-md-1"><div class="color-palette bg-red-400"></div></div>
                        <div class="col-xs-2 col-md-1"><div class="color-palette bg-ocean-400"></div></div>
                        <div class="col-xs-2 col-md-1"><div class="color-palette bg-orange-400"></div></div>
                        <div class="col-xs-2 col-md-1"><div class="color-palette bg-brown-400"></div></div>
                        <div class="col-xs-2 col-md-1"><div class="color-palette bg-green-400"></div></div>
                        <div class="col-xs-2 col-md-1"><div class="color-palette bg-indigo-400"></div></div>
                        <div class="col-xs-2 col-md-1"><div class="color-palette bg-mint-400"></div></div>
                        <div class="col-xs-2 col-md-1"><div class="color-palette bg-yellow-400"></div></div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>



