<div class="col-xs-12 left-panel">
    <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne1">
                <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion1" data-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
          Alerts
        </a>
      </h4>
            </div>
            <div id="collapseOne1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne1">
                <div class="panel-body">
                    <div class="col-xs-12">
                      <div class="alert alert-dismissible alert-warning">
                          <button type="button" class="close" data-dismiss="alert">&times;</button>
                          <h4>Warning!</h4>
                          <p>Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, <a href="#" class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
                        </div>
                    </div>
                    <div class="col-xs-4">
                      <div class="alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.
                      </div>
                    </div>
                    <div class="col-xs-4">
                      <div class="alert alert-dismissible alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Well done!</strong> You successfully read <a href="#" class="alert-link">this important alert message</a>.
                      </div>
                    </div>
                    <div class="col-xs-4">
                      <div class="alert alert-dismissible alert-info">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs your attention</a>, but it's not super important.
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo1">
                <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" data-target="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo1">
          Labels & Badges
        </a>
      </h4>
            </div>
            <div id="collapseTwo1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo1">
                <div class="panel-body">
                   <div class="col-xs-6">
                     <span class="label label-default">Default</span>
                      <span class="label label-primary">Primary</span>
                      <span class="label label-success">Success</span>
                      <span class="label label-warning">Warning</span>
                      <span class="label label-danger">Danger</span>
                      <span class="label label-info">Info</span>
                   </div>
                   <div class="col-xs-6">
                     <ul class="nav nav-pills">
                        <li class="active"><a href="#">Home <span class="badge">42</span></a></li>
                        <li><a href="#">Profile <span class="badge"></span></a></li>
                        <li><a href="#">Messages <span class="badge">3</span></a></li>
                      </ul>
                   </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree1">
                <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" data-target="#collapseThree1" aria-expanded="false" aria-controls="collapseThree1">
          Progress Bars
        </a>
      </h4>
            </div>
            <div id="collapseThree1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree1">
                <div class="panel-body">
                  <div class="col-xs-12">
                    <h5>Basic</h5>
                    <hr>
                    <div class="progress">
                      <div class="progress-bar" style="width: 60%;"></div>
                      </div>
                  </div>
                  <div class="col-xs-12">
                    <h5>Contextual alternatives</h5>
                    <hr>
                    <div class="progress">
                      <div class="progress-bar progress-bar-info" style="width: 20%"></div>
                      </div>

                      <div class="progress">
                      <div class="progress-bar progress-bar-success" style="width: 40%"></div>
                      </div>

                      <div class="progress">
                      <div class="progress-bar progress-bar-warning" style="width: 60%"></div>
                      </div>

                      <div class="progress">
                      <div class="progress-bar progress-bar-danger" style="width: 80%"></div>
                      </div>
                  </div>
                  <div class="col-xs-12">
                    <h5>Striped</h5>
                    <hr>
                    <div class="progress progress-striped">
                      <div class="progress-bar progress-bar-info" style="width: 20%"></div>
                      </div>

                      <div class="progress progress-striped">
                      <div class="progress-bar progress-bar-success" style="width: 40%"></div>
                      </div>

                      <div class="progress progress-striped">
                      <div class="progress-bar progress-bar-warning" style="width: 60%"></div>
                      </div>

                      <div class="progress progress-striped">
                      <div class="progress-bar progress-bar-danger" style="width: 80%"></div>
                      </div>
                  </div>
                  <div class="col-xs-12">
                    <h5>Animated</h5>
                    <hr>
                    <div class="progress progress-striped active">
                    <div class="progress-bar" style="width: 45%"></div>
                  </div>
                  </div>
                  <div class="col-xs-12">
                    <h5>Stacked</h5>
                    <hr>
                    <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 35%"></div>
                    <div class="progress-bar progress-bar-warning" style="width: 20%"></div>
                    <div class="progress-bar progress-bar-danger" style="width: 10%"></div>
                  </div>
                  </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>



<!--<div class="col-xs-12 col-md-6 right-panel">
        <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne2">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion2" data-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
          Secondary Buttons
        </a>
      </h4>
    </div>
    <div id="collapseOne2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne2">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo2">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" data-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
          Collapsible Group Item #2
        </a>
      </h4>
    </div>
    <div id="collapseTwo2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo2">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree2">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" data-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">
          Collapsible Group Item #3
        </a>
      </h4>
    </div>
    <div id="collapseThree2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree2">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>
</div>-->