<div class="col-xs-12 col-md-6 left-panel">
  <div class="panel-group panel-primary" id="accordion1" role="tablist" aria-multiselectable="true">
     <div class="panel-heading"><h3>Roboto</h3></div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne1">
        <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion1" data-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
              Typography
              </a>
          </h4>
      </div>
      <div id="collapseOne1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne1">
        <div class="panel-body">
          <h3>Headings</h3>
          <div class="well">
            <h1>h1. Enadoc heading</h1>
            <h2>h2. Enadoc heading</h2>
            <h3>h3. Enadoc heading</h3>
            <h4>h4. Enadoc heading</h4>
            <h5>h5. Enadoc heading</h5>
            <h6>h6. Enadoc heading</h6>
          </div>
          <hr>

          <h3>Headings with secondary text</h3>
          <div class="well">
            <h1>h1. Enadoc heading <small>Secondary text</small></h1>
            <h2>h2. Enadoc heading <small>Secondary text</small></h2>
            <h3>h3. Enadoc heading <small>Secondary text</small></h3>
            <h4>h4. Enadoc heading <small>Secondary text</small></h4>
            <h5>h5. Enadoc heading <small>Secondary text</small></h5>
            <h6>h6. Enadoc heading <small>Secondary text</small></h6>
          </div>

        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo1">
        <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" data-target="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo1">
         Paragraph
        </a>
      </h4>
      </div>
      <div id="collapseTwo1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo1">
        <div class="panel-body">

          <div class="well">
            <p class="font-size-15">
              <strong>Font size -15:</strong> Content Copy laboris nisi ut aliquip ex ea commodo consequat. Et harum quidem
              rerum facilis est et expedita distinctio. Nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
              reprehenderit qui in ea voluptate velit esse quam. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
              amet, consectetur, adipisci velit.
            </p>
            <hr>
            <p class="font-size-14">
              <strong>Font size -14:</strong> Content Copy laboris nisi ut aliquip ex ea commodo consequat. Et harum quidem
              rerum facilis est et expedita distinctio. Nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
              reprehenderit qui in ea voluptate velit esse quam. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
              amet, consectetur, adipisci velit.
            </p>
            <hr>
            <p class="font-size-13">
              <strong>Font size -13:</strong> Content Copy laboris nisi ut aliquip ex ea commodo consequat. Et harum quidem
              rerum facilis est et expedita distinctio. Nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
              reprehenderit qui in ea voluptate velit esse quam. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
              amet, consectetur, adipisci velit.
            </p>
            <hr>
            <p class="font-size-12">
              <strong>Font size -12:</strong> Content Copy laboris nisi ut aliquip ex ea commodo consequat. Et harum quidem
              rerum facilis est et expedita distinctio. Nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
              reprehenderit qui in ea voluptate velit esse quam. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
              amet, consectetur, adipisci velit.
            </p>
            <hr>
            <p class="font-size-11">
              <strong>Font size -11:</strong> Content Copy laboris nisi ut aliquip ex ea commodo consequat. Et harum quidem
              rerum facilis est et expedita distinctio. Nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
              reprehenderit qui in ea voluptate velit esse quam. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
              amet, consectetur, adipisci velit.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree1">
        <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" data-target="#collapseThree1" aria-expanded="false" aria-controls="collapseThree1">
          Other Text stuf
        </a>
      </h4>
      </div>
      <div id="collapseThree1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree1">
        <div class="panel-body">
          <h3>Transformation Text</h3>
          <div class="well">
            <p class="text-lowercase">Lowercased text.</p>
            <p class="text-uppercase">Uppercased text.</p>
            <p class="text-capitalize">Capitalized text.</p>
          </div>

          <hr>
          <h3>Blockquotes</h3>
          <div class="well">
            <blockquote>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="col-xs-12 col-md-6 right-panel">
  <div class="panel-group panel-primary" id="accordion2" role="tablist" aria-multiselectable="true">
    <div class="panel-heading"><h3>Open Sans</h3></div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne2">
        <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion2" data-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
         Typography
        </a>
      </h4>
      </div>
      <div id="collapseOne2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne2">
        <div class="panel-body">
          <h3>Headings</h3>
          <div class="well">
            <h1>h1. Enadoc heading</h1>
            <h2>h2. Enadoc heading</h2>
            <h3>h3. Enadoc heading</h3>
            <h4>h4. Enadoc heading</h4>
            <h5>h5. Enadoc heading</h5>
            <h6>h6. Enadoc heading</h6>
          </div>
          <hr>

          <h3>Headings with secondary text</h3>
          <div class="well">
            <h1>h1. Enadoc heading <small>Secondary text</small></h1>
            <h2>h2. Enadoc heading <small>Secondary text</small></h2>
            <h3>h3. Enadoc heading <small>Secondary text</small></h3>
            <h4>h4. Enadoc heading <small>Secondary text</small></h4>
            <h5>h5. Enadoc heading <small>Secondary text</small></h5>
            <h6>h6. Enadoc heading <small>Secondary text</small></h6>
          </div>





        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo2">
        <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" data-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
          Paragraph
        </a>
      </h4>
      </div>
      <div id="collapseTwo2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo2">
        <div class="panel-body">


           <div class="well">
            <p class="font-size-15">
              <strong>Font size -15:</strong> Content Copy laboris nisi ut aliquip ex ea commodo consequat. Et harum quidem
              rerum facilis est et expedita distinctio. Nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
              reprehenderit qui in ea voluptate velit esse quam. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
              amet, consectetur, adipisci velit.
            </p>
            <hr>
            <p class="font-size-14">
              <strong>Font size -14:</strong> Content Copy laboris nisi ut aliquip ex ea commodo consequat. Et harum quidem
              rerum facilis est et expedita distinctio. Nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
              reprehenderit qui in ea voluptate velit esse quam. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
              amet, consectetur, adipisci velit.
            </p>
            <hr>
            <p class="font-size-13">
              <strong>Font size -13:</strong> Content Copy laboris nisi ut aliquip ex ea commodo consequat. Et harum quidem
              rerum facilis est et expedita distinctio. Nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
              reprehenderit qui in ea voluptate velit esse quam. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
              amet, consectetur, adipisci velit.
            </p>
            <hr>
            <p class="font-size-12">
              <strong>Font size -12:</strong> Content Copy laboris nisi ut aliquip ex ea commodo consequat. Et harum quidem
              rerum facilis est et expedita distinctio. Nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
              reprehenderit qui in ea voluptate velit esse quam. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
              amet, consectetur, adipisci velit.
            </p>
            <hr>
            <p class="font-size-11">
              <strong>Font size -11:</strong> Content Copy laboris nisi ut aliquip ex ea commodo consequat. Et harum quidem
              rerum facilis est et expedita distinctio. Nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
              reprehenderit qui in ea voluptate velit esse quam. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
              amet, consectetur, adipisci velit.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree2">
        <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" data-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">
          Other Text stuf
        </a>
      </h4>
      </div>
      <div id="collapseThree2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree2">
        <div class="panel-body">

          <h3>Transformation Text</h3>
          <div class="well">
            <p class="text-lowercase">Lowercased text.</p>
            <p class="text-uppercase">Uppercased text.</p>
            <p class="text-capitalize">Capitalized text.</p>
          </div>

          <hr>
          <h3>Blockquotes</h3>
          <div class="well">
            <blockquote>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>